<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{{ page.title | site.name }}</title>
    <meta charset="utf-8">
    <meta title="keywords" content="{{ page.keywords }}">
    <meta title="description" content="{{ page.description }}">
    <link rel="stylesheet" href="{{ site.url }}/assets/style/bootstrap.min.css">
    <link rel="stylesheet/less" href="{{ site.url }}/assets/style/less/bootstrap.less">
    <script rel="javascript/text" src="{{ site.url }}/assets/script/jquery-1.8.3.min.js"></script>
    <script rel="javascript/text" src="{{ site.url }}/assets/script/bootstrap.min.js"></script>
    <script rel="javascript/text" src="{{ site.url }}/assets/script/less-1.7.1.min.js"></script>
    <script rel="javascript/text" src="{{ site.url }}/assets/script/script.js"></script>
</head>

<body>
